.main {
  display:flex;
  flex-direction: column;
  width:100vw;
  max-width: 100%;
  height:100vh;
}

.main__row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:20px;
}

.main__row::after{
  width:100vw;
  content: "";
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E2E2E2;
  display: block;
}